*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
:root{
    --primary-color:rgb(10, 138, 223);
    --dark-color: black;
    --white: white;
    --muted: #F6F8FB;
    --light-color:wheat;
    --orange-color: rgb(253, 135, 0);
    --br-rd:100%;
}

.d-flex{display: flex; flex-wrap: wrap;}
.container{width:90%; margin-left: auto; margin-right: auto;}
.br-left-right{border-left: 1px #434447 solid; border-right: 1px #434447 solid; height: 25px;}
.pl-1{padding-left: 5px; padding-right: 5px; }
.w-30{width:32%;}
.w-45{width: 49%;}
.w-60{width: 60%;}
.full-width{width: 100%;}
.half-width{width: 50%;}
.qu-width{width: 40%;}
.img-fluid{max-width: 100%; }
.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.pos-sticky{position:sticky;}
.bob-color{background-color: var(--orange-color);}
.br-rd{border-radius: var(--br-rd);}
.space-between{justify-content: space-between;}
.space-around{justify-content: space-around;}
.align-items{align-items: center;}
.text-align{text-align: center;}
.py-2{padding: 1.5px;}
.py-1{padding-top: 1%; padding-bottom: 1%;}
.active-color{color: var(--primary-color);}
.lightcolor{background-color: var(--light-color);}
.bob-color{background-color: var(--orange-color);}
.white-color{color: var(--white);}
.list-style{list-style: none;}
.br-rd{border-radius: var(--br-rd);}
.div-br-rd{border-radius: 10px;}
.mute-text{background-color: var(--muted);}
.font-mute{color: rgb(177, 171, 171);}
.bold-text{font-weight:bold;}
.py-3{padding: 3px 35px;}
.py-4{padding: 1px 4px;}
.tp-5{top: -6px;}
.small-font{font-size: 10px;}
.big-font{font-size: 20px;}
.line-throgh{text-decoration: line-through;}
.br-shadow{box-shadow: 0 4px 6px rgba(0.1,0.1,0.1,0.1);}
.w-25{width: 24%;}
.py-25{padding:12px 16px;}
.green-color{color: green;}
.orange-color{color: var(--orange-color);}
.top-pos{top: 2px; left: 0;}
.right-pos{top:1px; right: 0;}
.left-pos{bottom:6px; left:6px;}
.bottom-pos{bottom:6px; right: 6px;}
.center-content{justify-content: center;}
.no-border{border: none; outline: none;}
.p-15{padding-bottom: 15px; padding-top: 15px;}
.pt-20{padding-top: 30px;}

a{
    text-decoration: none;
    color: black;
}

.select-style{
    border: none;
    outline: none;
    background-color: var(--muted);
}
.message-num{
    right: 57%;
}
.search-bar-container{
    width: 543px;
    padding: 12px 16px;
    border: 1px solid var(--muted);
    border-radius: 4px;
    outline: none;
}
.search-bar{
    outline: none;
    border: none;
}

button{
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}
.compare-icon{
    right: 83%;
}
.fav-icon {
    right: 43%;
}
.cart-icon{
    right: 1.5%;
}
#box{
    background-color: var(--primary-color);
    height: 172px;
    padding: 16px 88px;
    font-size: 60px;
    span{
        font-size: 80px;

    }
    button{
        background-color: var(--white);
        color: var(--primary-color);
    }
}
#category-p{
    background-color: var(--primary-color);
    border-radius: 0 0 5px 5px;
    justify-content: center;
}
.brand-part button{
    background-color: var(--muted);
    color: black;
}

.text-br-rd{
    border-radius: 10px 0 0 10px;
}
#bundle{
    background-color: var(--primary-color);
    color: var(--white);
    justify-content: left;
    padding: 75px 107px;
    button{
        background-color: var(--white);
        color: var(--primary-color);
        border-radius: 40px;
    }
}